*.parquet filter=lfs diff=lfs merge=lfs -text
artifacts/*.parquet filter=lfs diff=lfs merge=lfs -text
artifacts/*.pkl filter=lfs diff=lfs merge=lfs -text
data/*.csv filter=lfs diff=lfs merge=lfs -text
officer_locations.csv filter=lfs diff=lfs merge=lfs -text
dispatch_log.csv filter=lfs diff=lfs merge=lfs -text
